.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #eeeeee;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* zmiana z center */
  padding: 2rem 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    padding: 1rem;
    align-items: flex-start;
  }
}

